.container-fluid{
    color: white;
    font-weight: bold;
}
.a1{
    font-family:sans-serif;
    font-size: smaller;
    text-align: center;
    margin-top: 100px;
}
.a2{
    text-align: center;
    color:darkgrey;
    font-family:sans-serif;

}
.a3{
    text-align: center;
    margin-bottom: 20px;

}
.btn-group{
    margin-left: 10px;
    margin-bottom: 10px;
}
.Final{
    background-color: white;
    margin-top: 20px;
   
}